.features {
    margin:5rem 10rem;
    display:flex;
    justify-content:flex-start;
    flex-wrap:wrap;


    &__box {
        flex-grow:1;
        flex-shrink:0;
        flex-basis:33.3%;
        height:60vh;
        cursor:pointer;
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding:5rem;
        transition:all .3s;
        color:$blackop;

        &-link {
            &:link,
            &:visited {
                font-size:2rem;
                transition:all .3s;
                cursor:pointer;
                border:2px solid $blackop;
                border-radius:10px;
                text-align:center; 
                padding-top:1rem;
                padding-bottom:1rem;
                font-weight:700;
                font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                transition:all .3s;
                color:$blackop;
                text-transform: uppercase;
                width:50%;
            }
  
            &:hover,
            &:active {
                background-color:$white;
            }  
        }

        &:first-of-type {
            background-color: $black;

            i,h1 {
                color:$white;
            }

            .features__box-link {
                &:link,
                &:visited {
                    border:2px solid $grey;
                    color:$white;
                }
      
                &:hover,
                &:active {
                    // background-color:$black;
                    // color:$white;

                    color:$black;
                    background-color:$white;
                }  
            }

            &:hover {
                background-color:$black;
            }
         }
  
        &:nth-of-type(2) {
            background-color:$white;
            
            &:hover {
                background-color:$light_grey;
            }
        }
  
        &:nth-of-type(3) {
            background-color:$light_grey;

            &:hover {
                background-color:$light_grey;
            }
        }


        i {
            font-size:7rem;
        }

        h1 {
            font-size:3rem;
        }

       
    }
}