.footer {
    @include flexCenter;
    flex-direction:column;
    color:$black;
    height:15vh;
    border-top:0.01px solid $grey;

    @include respond(misc1) {
       height:10vh;
    }

    @include respond(phone) {
        height:8vh;
    }

    &__icon {
         @include flexCenter;

         &-link {
          &:link,
          &:visited {
              font-size:2rem;
              padding-right:1.5rem;
              transition:all .3s;
              cursor:pointer;
              color:$grey;
          }

          &:hover,
          &:active {
          }  
         }

         &-item {
          cursor:pointer;
         }
    }

    &__copyright {
         @include flexCenter;
         font-size:1.5rem;
         font-weight:700;
         color:$grey;
         font-family: Arial, Helvetica, sans-serif;
    }
}