.introduction {
    display:flex;
    justify-content: flex-end;
    margin-right:10rem;

    h1 {
        width:70%;
        font-size:8rem;
        line-height:8rem;
        color:$blackop;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}